:root {
  --font-mono: 'Outfit', sans-serif;
  --primary: #000;
  --primary-to-gradient: #414345;
  --secondary: #EDEDED;
  --color-font-primary: #FBDCC4;
  --color-font-secodary: #fff;
  --header: #DFD3C3;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-mono: 'Outfit', sans-serif;
    --primary: #000;
    --primary-to-gradient: #414345;
    --secondary: #EDEDED;
    --color-font-primary: #FBDCC4;
    --color-font-secodary: #fff;
    --header: #DFD3C3;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
  
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-mono);
  line-height: 1.5;
  color: var(--color-font-primary);
  background: var(--primary);  /* fallback for old browsers */
  

}

a {
  color: inherit;
  text-decoration: none;
}

.back-button {
  background-color: transparent;
  margin: 1.5rem 1rem 2rem 1rem;
  font-size: 1.5rem;
  color: wheat;
  text-decoration: underline;
  cursor: pointer;
  border: none;
}

[class*='contenedor'],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}

[class*='heading'] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin: 5rem 0;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.flex-grid {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 1 1 150;
  width: 100%;
  gap: 1rem;
  
}

@media screen and (min-width: 768px) {
  .flex-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1 1 150;
    gap: 1.5rem;
  }
}

.error, 
.error-enlace {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 5rem;
}

.error-enlace {
  font-size: 1.8rem;
  display: block;
}

.main-layout {
  position: relative;
}

.quantity {
  border: none;
  border-bottom: 1px solid #323232;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;

}

.quantity:hover {
  border-bottom: 1px solid #579BB1;
}

.quantity:focus {
  outline: none;
}